Source: ros-kilted-event-camera-renderer
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-auto, ros-kilted-ament-cmake-clang-format <!nocheck>, ros-kilted-ament-cmake-ros, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-event-camera-codecs, ros-kilted-event-camera-msgs, ros-kilted-image-transport, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-ros-environment, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-event-camera-renderer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-event-camera-codecs, ros-kilted-event-camera-msgs, ros-kilted-image-transport, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-ros-environment, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: package for rendering event_camera_msgs
